/*-----------Basic Elements-----------*/

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
}

body {
    background: url("../../assets/images/pipes.png");
    margin-bottom: 80px;
    margin-top: 120px;
}


.navbar-brand {
    background-color: #4aaaa5;
}
